.dropDown {
	border: 1px solid #ddd;
	background-color: #eee;
	width: 200px;
}
#textbox {
	width: 452px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 3px;
}
#textbox1 {
	width: 452px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 3px;
}
